[submodule "vim/.vim-addons/ack"]
	path = vim/.vim-addons/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/.vim-addons/nerdcommenter"]
	path = vim/.vim-addons/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim-addons/nerdtree"]
	path = vim/.vim-addons/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim-addons/repeat"]
	path = vim/.vim-addons/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "vim/.vim-addons/snipmate"]
	path = vim/.vim-addons/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim-addons/supertab"]
	path = vim/.vim-addons/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/.vim-addons/surround"]
	path = vim/.vim-addons/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/.vim-addons/syntastic"]
	path = vim/.vim-addons/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "vim/.vim-addons/vim-addon-manager"]
	path = vim/.vim-addons/vim-addon-manager
	url = http://github.com/MarcWeber/vim-addon-manager.git
[submodule "vim/.vim-addons/yankring"]
	path = vim/.vim-addons/yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/.vim-addons/vim-indent-object"]
	path = vim/.vim-addons/vim-indent-object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/.vim-addons/sparkup"]
	path = vim/.vim-addons/sparkup
	url = http://github.com/rstacruz/sparkup.git
[submodule "vim/.vim-addons/speeddating"]
	path = vim/.vim-addons/speeddating
	url = http://github.com/tpope/vim-speeddating.git
[submodule "vim/.vim-addons/histwin"]
	path = vim/.vim-addons/histwin
	url = http://github.com/chrisbra/histwin.vim.git
[submodule "vim/.vim-addons/command-t"]
	path = vim/.vim-addons/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/.vim-addons/tabular"]
	path = vim/.vim-addons/tabular
	url = http://github.com/godlygeek/tabular.git
[submodule "vim/.vim-addons/bufexplorer"]
	path = vim/.vim-addons/bufexplorer
	url = https://github.com/edsono/vim-bufexplorer.git
[submodule "vim/.vim-addons/fugitive"]
	path = vim/.vim-addons/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim-addons/indent-guides"]
	path = vim/.vim-addons/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/.vim-addons/gundo"]
	path = vim/.vim-addons/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/.vim-addons/tagbar"]
	path = vim/.vim-addons/tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule "vim/.vim-addons/showmarks"]
	path = vim/.vim-addons/showmarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule "vim/.vim-addons/ctrp"]
	path = vim/.vim-addons/ctrp
	url = https://github.com/kien/ctrlp.vim.git
