[submodule "vim/.vim-addons/ack"]
	path = vim/.vim-addons/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/.vim-addons/nerdcommenter"]
	path = vim/.vim-addons/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim-addons/nerdtree"]
	path = vim/.vim-addons/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim-addons/repeat"]
	path = vim/.vim-addons/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "vim/.vim-addons/showmarks"]
	path = vim/.vim-addons/showmarks
	url = http://github.com/vim-scripts/ShowMarks.git
[submodule "vim/.vim-addons/snipmate"]
	path = vim/.vim-addons/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim-addons/supertab"]
	path = vim/.vim-addons/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/.vim-addons/surround"]
	path = vim/.vim-addons/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/.vim-addons/syntastic"]
	path = vim/.vim-addons/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "vim/.vim-addons/vim-addon-manager"]
	path = vim/.vim-addons/vim-addon-manager
	url = http://github.com/MarcWeber/vim-addon-manager.git
