[submodule "vim/.vim-addons/ack"]
	path = vim/.vim-addons/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/.vim-addons/nerdcommenter"]
	path = vim/.vim-addons/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim-addons/nerdtree"]
	path = vim/.vim-addons/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim-addons/repeat"]
	path = vim/.vim-addons/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "vim/.vim-addons/showmarks"]
	path = vim/.vim-addons/showmarks
	url = http://github.com/vim-scripts/ShowMarks.git
